<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Veritas" connectionString="Data Source=.;Initial Catalog=Veritas;User ID=mit;Password=123@Pattankar;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>