@model Veritas.Entities.GiCompanyMaster

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-xs-12">

        <h3 class="header smaller lighter blue">Create Company Master</h3>

        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Company Name</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtCompanyName" placeholder="Enter Company Name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Address1</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtAddress1" placeholder="Enter Address1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Address2</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtAddress2" placeholder="Enter Address2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">City</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtCity" placeholder="Enter City">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Pin Code</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtPincode" placeholder="Enter Pin Code">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Email</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtEmail" placeholder="Enter Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Contact1</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtContact1" placeholder="Enter Contact1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Contact2</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtContact2" placeholder="Enter Contact2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Fax</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtFax" placeholder="Enter Fax">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Website</label>
                <div class="col-xs-10 col-sm-5">
                    <input type="text" id="txtWebsite" placeholder="Enter Website">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Remarks</label>
                <div class="col-xs-10 col-sm-5">
                    <textarea class="form-control limited" id="txtremarks" maxlength="50"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Discontinue</label>
                <div class="col-xs-10 col-sm-5">
                    <label>
                        <input id="prodDiscontinue" class="ace ace-switch ace-switch-3" type="checkbox" />
                        <span class="lbl" data-lbl="YES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                    </label>
                </div>
            </div>
        </form>
        <div class="clearfix">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="button" id="btnSubmit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Submit
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Reset
                </button>
            </div>
        </div>

    </div>
</div>

@section Myscripts {
    <!-- page specific plugin styles -->

    <link rel="stylesheet" href="~/assets/css/jquery-ui.css" />
    <link href="~/assets/css/magicsuggest.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.js"></script>
    <script src="~/assets/js/magicsuggest.js"></script>
    <script type="text/javascript">



        //SUBMIT form
        $("#btnSubmit").click(function () {


            var requestObj = {

                "GICompanyName": $("#txtCompanyName").val(),
                "Address1": $("#txtAddress1").val(),
                "Address2": $("#txtAddress2").val(),
                "Pincode": $("#txtPincode").val(),
                "City": $("#txtCity").val(),
                "Email": $("#txtEmail").val(),
                "Contact1": $("#txtContact1").val(),
                "Contact2": $("#txtContact2").val(),
                "Fax": $("#txtFax").val(),
                "Website": $("#txtWebsite").val(),
                "Remarks": $("#txtremarks").val(),
                "Discontinue": $("#prodDiscontinue").is(":checked")

            }

            var result = Common_AjaxPOST("http://localhost:54510/api/GiCompanyMasterApi/Create", JSON.stringify(requestObj));

        });


    </script>
}