
@{
    ViewBag.Title = "Create";
}
<div class="row">
<div class="col-xs-12">
    <h3 class="header smaller lighter blue">Create Insure Masters</h3>    
    <div class="tabbable">
        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
            <li class="active">
                <a data-toggle="tab" href="#home4">Home</a>
            </li>

            <li>
                <a data-toggle="tab" href="#PremiumDetails">Premium Details</a>
            </li>

            <li>
                <a data-toggle="tab" href="#VehicleDetails">Vehicle Details</a>
            </li>
            <li>
                <a data-toggle="tab" href="#PaymentDetails">Payment Details</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="home4" class="tab-pane in active">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Status</label>
                        <div class="col-xs-10 col-sm-5">
                            <input type="text" id="ddSelectStatus" placeholder="Select Status">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Business Status</label>
                        <div class="col-xs-10 col-sm-5">
                            <input type="text" id="ddSelectBusinessStatus" placeholder="Select Business Status">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Client</label>
                        <div class="col-xs-10 col-sm-5">
                            <input type="text" id="ddSelectClient" placeholder="Select Client">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">SE Name</label>
                        <div class="col-xs-10 col-sm-5">
                            <input type="text" id="ddSelectSE" placeholder="Select SE">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Agency</label>
                        <div class="col-xs-10 col-sm-5">
                            <input type="text" id="ddSelectAgency" placeholder="Select Agency">
                        </div>
                    </div>
                </form>
            </div>

            <div id="PremiumDetails" class="tab-pane">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Basic Premium</label>
                        <div class="col-xs-10 col-sm-2">
                            <input type="text" id="txtBasicPremium" placeholder="Enter Basic Premium">
                        </div>
                    @*</div>
                    <div class="form-group">*@
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">TP Premium</label>
                        <div class="col-xs-10 col-sm-2">
                            <input type="text" id="txtThirdPartyPrem" placeholder="Enter TP Premium">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">PA to Car Owner</label>
                        <div class="col-xs-10 col-sm-2">
                            <input type="text" id="txtPAtoCarOwner" placeholder="Enter PA to Car Owner">
                        </div>
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">PA to Unnamed</label>
                        <div class="col-xs-10 col-sm-2">
                            <input type="text" id="txtPAtoUnnamed" placeholder="Enter PA to Unnamed">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Loading Amt</label>
                        <div class="col-xs-10 col-sm-2">
                            <input type="text" id="txtLoadingAmt" placeholder="Enter Loading Amt">
                        </div>
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Premium After Loading</label>
                        <div class="col-xs-10 col-sm-2">
                            <input type="text" id="txtPremiumAfterLoading">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Add On Cover</label>
                        <div class="col-xs-10 col-sm-2">
                            <input type="text" id="txtAddOnCover" placeholder="Enter Add On Cover">
                        </div>
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Terrisiom Premium</label>
                        <div class="col-xs-10 col-sm-2">
                            <input type="text" id="txtTerrisiomPremium" placeholder="Enter Terrisiom Premium">
                        </div>
                    </div>
                </form>
            </div>

            <div id="VehicleDetails" class="tab-pane">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
            </div>
            <div id="PaymentDetails" class="tab-pane">
                <p>This is Payment Details</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="hr hr-double hr-dotted hr18"></div>
<div class="clearfix">
    <div class="col-md-offset-3 col-md-9">
        <button class="btn btn-info" type="button">
            <i class="ace-icon fa fa-check bigger-110"></i>
            Submit
        </button>
        &nbsp; &nbsp; &nbsp;
        <button class="btn" type="reset">
            <i class="ace-icon fa fa-undo bigger-110"></i>
            Reset
        </button>
    </div>
</div>
@section Myscripts {
    <!-- page specific plugin styles -->

<link rel="stylesheet" href="~/assets/css/jquery-ui.css" />
<link href="~/assets/css/magicsuggest.css" rel="stylesheet" />
<script src="~/assets/js/jquery-ui.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.js"></script>
<script src="~/assets/js/magicsuggest.js"></script>

<script type="text/javascript">
    //Loading Policy Data
    var statusData = Common_AjaxGET("/LookUpTables/PolicyStatus");
    if (statusData.length > 0) {

        var _elmTxtApprover = $('#ddSelectStatus').magicSuggest({
            allowFreeEntries: false,
            maxSelection: 1,
            valueField: 'Value',
            displayField: 'Text',
            data: statusData
        });
    }

    //Loading Business Data
    var businessstatusData = Common_AjaxGET("/LookUpTables/BusinessStatus");
    if (businessstatusData.length > 0) {

        var _elmTxtApprover = $('#ddSelectBusinessStatus').magicSuggest({
            allowFreeEntries: false,
            maxSelection: 1,
            valueField: 'Value',
            displayField: 'Text',
            data: businessstatusData
        });
    }
    
    //Loading Client
    var clientData = Common_AjaxGET("/LookUpTables/Client");
    if (clientData.length > 0) {

        var _elmTxtApprover = $('#ddSelectClient').magicSuggest({
            allowFreeEntries: false,
            maxSelection: 1,
            valueField: 'Value',
            displayField: 'Text',
            data: clientData
        });
    }

    //Loading SE
    var SEData = Common_AjaxGET("/LookUpTables/SE");
    if (SEData.length > 0) {

        var _elmTxtApprover = $('#ddSelectSE').magicSuggest({
            allowFreeEntries: false,
            maxSelection: 1,
            valueField: 'Value',
            displayField: 'Text',
            data: SEData
        });
    }

    //Loading Agency
    var AgencyData = Common_AjaxGET("/LookUpTables/Agency");
    if (AgencyData.length > 0) {

        var _elmTxtApprover = $('#ddSelectAgency').magicSuggest({
            allowFreeEntries: false,
            maxSelection: 1,
            valueField: 'Value',
            displayField: 'Text',
            data: AgencyData
        });
    }
    </script>
}
