<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="Dapper.Mapper" version="1.13" targetFramework="net45" />
  <package id="Dapper-Async" version="1.03" targetFramework="net45" />
  <package id="DapperContext" version="0.1.2-alpha" targetFramework="net45" />
</packages>